<h1>Budget Your Life Story</h1>
<h2>A tool to help you find out how to live the life you want</h2>
<h3 class="start"><%= link_to "Start", new_form_path %></h3>
<p><small>Unconvinced? Take a look at <%= link_to "one of our example profiles", @profile %></small></p>
<p><%= link_to "Log in", new_user_session_path %></p>

