<h2>Your results</h2>
<h3>You spend $<%= @dining_cost %> on dining out</h3>

<h3>
	<nav><a href="Summary">Summary</a></nav></h3>
	<p>@dining_cost</p>
	<p>@form.healthcare</p>
	<p>@form.income.total.sum(:price)</p>
</div>

