/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html {
 	font-family: Helvetica,Arial,Verdana,sans-serif;
 	background-size: cover;
 }

body {
 	background: #404040;
 	/*padding: 200px 300px;*/
 	text-align: center;
 	color: #FFFFFF;
 	line-height: 1.25em;
  margin: 0;
}

header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: 1em;
  text-align: left;
}

header a,
header a:visited{
  text-decoration: none;
  color: #fff;
}

h1{
 	font-size: 48px;
 	color: #FFFFFF;
}


h3{
	display: inline-block;
	font-size: 36px;
	padding: 5px 0 5px 0;
	font-family: 'Times New Roman', sans-serif;
}

.start a{
	border: 4px, solid red;
	border-radius: 10%;
	background: #980000;
	color: #FFFFFF;
	width: 80%;
	padding: 20px;
	height: 60px;
  margin: 20px 20px 20px 20px;
	text-decoration: none;
}

.pic img{
  border-radius: 48%;
  height: 300px;
  width: 300px;
  border: 3px solid black;

}
