// Place all the styles related to the Forms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .wrapper{
//   height: 100%;
//   margin-top: 5em;
//   position: absolute;
// }
// .category{
//   width: 100%;
//   height: 700px;
//   text-align: center;
//   padding: 200px 0 200px 0;
// }

/* USA Today Colors */ 
$white: #f8f8f8;
$blue: #009BFF;
$green: #00A53C;
$red: #eb1e00;
$purple: #9600b4;
$light-blue: #00c3c3;
$orange: #fa5f00;
$yellow: #ffcc00;
$gray: #939598;
$font-stack: 'Open Sans', Helvetica,Arial,Verdana,sans-serif;

/* Our colors */
$dark-gray: #363636;

header{
  padding: 0 0 0 1em;
}

input[type=number]{
  border: 10px solid $gray;
  color: $green;
  font-size: 30px;
  padding: 15px;
  background: $white;
  margin: 0 0 10px 0;
}

.js-flickity{
  text-align: center;
}

.styled select {
  background: transparent;
  width: 150px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 34px;
}

.dropdown{
  width: 150px;
  height: 70px;
  overflow: hidden;
  margin: 0 auto;
  border: 4px solid $dark-gray;
  background: url("logo_small.svg") 90% / 20% no-repeat;
  text-align: center;
}

.dropdown select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance:none;
  font-size: 0.6em;
  font-family: $font-stack;
  width: 180px;
  background: transparent;
  height: 70px;
  padding-left: 3px;
}

.number select{
  padding-left: 5em;
}

.submit{
  background-color: $green;
  color: $white;
  font-family: $font-stack;
  font-size: 36px;
  text-decoration: none;
  cursor: pointer;
  padding: 30px;
  border:none;
}

.submit:hover{
  border: $green;
  background: $white;
  color: $green;
  box-shadow: 0px 0px 1px $dark-gray;
}

#chart-1{
  background-color: $white;
}

.errors{
  border: 4px solid $red;
  color: $red;
  padding-left: 1em;
}

.results{

  padding: 1em 3em 1em 3em;

  h1{
    margin-top: 1em;
    text-align: center;
  }

  a, 
  a:visited{
    text-decoration: none;
    color: $green;
  }

}

.congrats{
  color: $green;
}

.money{
  color: $blue;
}

.overspend{
  color: $red; 
}